*{
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.hello{
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  color: white;
}
