@import "tailwindcss";

/* Root Variables */
:root {
    /* --primary-color: #025008; */
    --primary-color: #1c3b6e;
    --text-color: #333;
    --bg-color: #ffffff;
    --hover-bg-color: #e0f2e9; /* Light green for better contrast */
    --hover-text-color: #025008;
    --border-color: #333;
    --link-color: #fff;
    --footer-bg-color: #121212;
    --footer-text-color: #ccc;
  }


 body{
  width: 100vw;
  overflow-x: hidden;
 }